# Python caches & virtual environment
__pycache__/
*.pyc
venv/
.venv/
.pytest_cache/
src/*.egg-info/

# Local Environment files
.env
apps/api/.env

# Node & Frontend build
node_modules/
apps/web/dist/

# OS Specific
.DS_Store

# Large or zip files
*.zip

# Large Models
artifacts/transformer/
